<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>穆</string>
		<key>image</key>
		<string>1.jpg</string>
		<key>detail</key>
		<string>白羊座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿鲁迪巴</string>
		<key>image</key>
		<string>2.jpg</string>
		<key>detail</key>
		<string>金牛座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>撒加</string>
		<key>image</key>
		<string>3.jpg</string>
		<key>detail</key>
		<string>双子座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>迪斯马斯克</string>
		<key>image</key>
		<string>4.jpg</string>
		<key>detail</key>
		<string>巨蟹座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艾欧里亚</string>
		<key>image</key>
		<string>5.jpg</string>
		<key>detail</key>
		<string>狮子座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙加</string>
		<key>image</key>
		<string>1.jpg</string>
		<key>detail</key>
		<string>处女座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>童虎</string>
		<key>image</key>
		<string>7.jpg</string>
		<key>detail</key>
		<string>天秤座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>米罗</string>
		<key>image</key>
		<string>8.jpg</string>
		<key>detail</key>
		<string>天蝎座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艾欧罗斯</string>
		<key>image</key>
		<string>9.jpg</string>
		<key>detail</key>
		<string>射手座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>修罗</string>
		<key>image</key>
		<string>10.jpg</string>
		<key>detail</key>
		<string>摩羯座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>卡妙</string>
		<key>image</key>
		<string>11.jpg</string>
		<key>detail</key>
		<string>水瓶座</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿布罗狄</string>
		<key>image</key>
		<string>12.jpg</string>
		<key>detail</key>
		<string>双鱼座</string>
	</dict>
</array>
</plist>
